p {
	font-family: Arial;
	color: red;
}

.green{
  background-color: green;
  color: white;
}

.red{
  background-color: red;
  color: black;
}

.orange{
  background-color: orange;
  color: slategray;
}

.cat{
  background-color: lightgray;
  color: darkgray;
}

.dog{
  background-color: lightgray;
  color: darkgray;
}

.bunny{
  background-color: lightgray;
  color: darkgray;
}

button{
  font-weight: bold;
}